<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css"/>
</head>

<body>

    <h1>Weather in Corner Brook, NL</h1>

    <p><b>Temperature:</b> <span id="temperature"></span>°C</p>
    <p><b>Feels Like:</b> <span id="feels_like"></span></p>  
    <p><b>Wind:</b><span id="wind_display"></span></p>
    <p><b>Date:</b><span id="date"></span></p>
    <p><b>Observation Time:</b> <span id="observation_time"></span></p>
   
    <p><b>Description:</b> <span id="description"></span></p>
    <img id="weather_image" src="" alt="Current Weather Image">
  

</body>
</html>